<div class="empty-cart" *ngIf="services.getCartItems().length === 0">
    <img class="empty-cart-img" src="./assets/images/empty-cart.jpg">
    <div class="empty-cart-desc">A kosara üres!<p class="empty-cart-button" [routerLink]="['/products']">Vissza a
            termékekhez!</div>
</div>
<!--<div *ngFor="let cartItem of services.getCartItems()" class="cart-item">
    <div class="shipping-contianer">
    <div class="shipping">
        <div class="shipping-quanity">{{cartItem.quantity}}</div>
        <div class="shipping-title">{{cartItem.product.description}}</div>
    </div>
</div>
</div>
-->
<div class="shopping-cart-component" *ngIf="services.getCartItems().length > 0">
    <div class="shipping-container">
        <form #rendelesForm="ngForm" [formGroup]="shippingForm" (ngSubmit)="rendelesFormSubmit(rendelesForm.value)">
            <mat-form-field *ngIf="!(user$ | async)">
                <mat-label>Vezetéknév</mat-label>
                <input type="text" matInput formControlName="firstName" />
            </mat-form-field>
            <mat-form-field *ngIf="!(user$ | async)">
                <mat-label>Keresztnév</mat-label>
                <input type="text" matInput formControlName="lastName" />
            </mat-form-field>
            <mat-form-field *ngIf="!(user$ | async)">
                <mat-label>E-mail cím</mat-label>
                <input type="email" matInput formControlName="email" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Telefonszám</mat-label>
                <input type="number" matInput formControlName="phone" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Szallítási cím</mat-label>
                <input type="text" matInput formControlName="address" />
            </mat-form-field>
            <div class="button-container">
                <button type="submit" mat-raised-button="button-submit" color="primary">Rendelés megerősítése</button>
                <p class="price">végösszeg: {{price}} Ft</p>
            </div>
        </form>
    </div>
</div>