.shipping-container {
    display: block;
    max-width: 600px;
    margin: auto;

    background: white;
    padding: 48px;
    border-radius: 16px;

    mat-form-field {
        width: 100%;
        margin-top: 8px;

    }
}

.center {
    display: flex;
    justify-content: center;
}

.margin-top {
    margin-top: 16px;
}

.text-center {
    text-align: center;
}

.button-container {
    margin-top: 25px;

    .price {
        float: right;
        font-size: 18px;
        font-weight: 100;
    }

    .order-btn {
        padding: 15px 30px;
        border-radius: 5px;
        font-size: 15px;
        background-color: #061e29;
        cursor: pointer;
        border: none;
        color: white;
        transition: 0.5s ease-in-out;

    }

    .order-btn:hover {
        color: #eceff1;
    }
}