<app-user-header></app-user-header>
<div class="form-container mat-elevation-z5 text-center" *ngIf="user$ | async as user">
  <h1>Profil</h1>
  <form class="margin-top" [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <div class="row">
      <mat-form-field>
        <mat-label>Vezetéknév</mat-label>
        <input type="text" matInput formControlName="firstName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Keresztnév</mat-label>
        <input type="text" matInput formControlName="lastName" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Profilnév</mat-label>
        <input type="text" matInput formControlName="displayName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Telefonszám</mat-label>
        <input type="number" matInput formControlName="phone" />
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Szállítási cím</mat-label>
      <input type="text" matInput formControlName="address" />
    </mat-form-field>
    <button type="submit" class="save-button margin-top">
      Mentés
    </button>
  </form>
</div>