<div class="form-container mat-elevation-z5 text-center" *ngIf="user$ | async as user">
  <h1>Profil</h1>
  <div class="profile-image">
    <img width="120" height="120" [src]="user.photoURL ?? 'assets/image-placeholder.png'" />
    <button mat-mini-fab (click)="inputField.click()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <input #inputField type="file" hidden (change)="uploadImage($event, user)">
  <form class="margin-top" [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <div class="row">
      <mat-form-field>
        <mat-label>Vezetéknév</mat-label>
        <input type="text" matInput formControlName="firstName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Keresztnév</mat-label>
        <input type="text" matInput formControlName="lastName" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Profilnév</mat-label>
        <input type="text" matInput formControlName="displayName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Telefonszám</mat-label>
        <input type="number" matInput formControlName="phone" />
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Szállítási cím</mat-label>
      <input type="text" matInput formControlName="address" />
    </mat-form-field>
    <button type="submit" class="margin-top" mat-raised-button color="primary">
      Mentés
    </button>
  </form>
</div>