
    <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="http://pngimg.com/uploads/running_shoes/running_shoes_PNG5782.png" alt="nike-air-shoe">
            </div>
            <div class="contentBx">
                <h2>Nike Shoes</h2>
                <div class="size">
                    <app-wear-size></app-wear-size>
                </div>
                <div class="color">
                </div>
                <my-button></my-button>
            </div>
        </div>
    </div>
