<!--<div class="shopping-cart-card">
    <div *ngFor="let cartItem of services.getCartItem()" class="cart-item">
        <img class="product-image" [src]="cartItem.product.imagePath">
        <div class="shopping-cart-head">{{ cartItem.product.description }}</div>
        <div class="size">{{cartItem.product.selectedSize}}</div>
        <div class="decreaseQuantity" (click)="decreaseQuantity(cartItem)"
            [ngClass]="{ 'disabled-button': cartItem.quantity === 1 }">-</div>
        <div class="product-quantity">{{ cartItem.quantity }}</div>
        <div class="increaseQuantity" (click)="increaseQuantity(cartItem)"
            [ngClass]="{ 'disabled-button': cartItem.quantity === 5 }">+</div>
        <div class="shopping-cart-price">{{ (cartItem.product.price * cartItem.quantity) }}</div>
        <div class="removeFromCart" (click)="removeFromCart(cartItem)">X</div>
    </div>
</div>
<div class="shopping-cart-card">
    <div *ngFor="let cartItem of services.getCartItem()" class="cart-item">
        <img class="product-image" [src]="cartItem.product.imagePath">
        <div class="shopping-cart-head">{{ cartItem.product.description }}</div>
        <app-wear-size [selectedSize]="cartItem.product.selectedSize"
        (sizeSelected)="selectSize($event)"></app-wear-size>
        <div class="product-card-price">
            <my-button [currentPrice]="cartItem.product.price" (click)="addToCart(cartItem.product)"
            class="add-to-cart"></my-button>
        </div>
    </div>
</div>
-->