<div class="wear-size">
    <i class="size-button" [class.selected]="selectedSize === 'S'" (click)="selectSize('S')">S</i>
    <i class="size-button" [class.selected]="selectedSize === 'M'" (click)="selectSize('M')">M</i>
    <i class="size-button" [class.selected]="selectedSize === 'L'" (click)="selectSize('L')">L</i>
    <i class="size-button" [class.selected]="selectedSize === 'XL'" (click)="selectSize('XL')">XL</i>
    <i class="size-button" [class.selected]="selectedSize === 'XXL'" (click)="selectSize('XXL')">XXL</i>
</div>