<div class="product-card-container">
    <div class="product-card" *ngFor="let item of task$ | async" (click)="productService.openModal(item)">
        <div class="product-card-head"> {{item.brand}} <p class="brand-name">{{item.brandName}}</p>
        </div>
        <div class="main-image-container">
            <img class="main-image" [src]="item.imagePath">
        </div>
        <div class="product-card-price"> {{item.price}}
            <p class="tol">Ft</p>
        </div>
    </div>
</div>

<app-modal-products [product]="productService.selectedProduct" (closeModalEvent)="productService.closeModal()"
    *ngIf="productService.isModalOpen"></app-modal-products>