<div class="product-background" style="background-image: url('./assets/images/sunglasses/sunglasses-background2.jpg');">
</div>
<div class="glitch-wrapper">
    <div class="glitch" data-glitch="#Hawkers">#Hawkers</div>
    <div class="glitch margin-left" data-glitch="#Hawkers">#Hawkers</div>
    <div class="glitch " data-glitch="#Hawkers">#Hawkers</div>
</div>
<div class="product-card-container">
    <div class="product-card" *ngFor="let hawkers of hawkers">
        <div class="product-card-head">{{ hawkers.productName }}</div>
        <img class="sunglasses" [src]="hawkers.imagePath">
        <div class="product-card-body">{{hawkers.description}}</div>
        <div class="product-card-price">
            <my-button [currentPrice]="hawkers.price" (click)="addToCart(hawkers)" class="add-to-cart"></my-button>
        </div>
    </div>
</div>