<div class="brands-container">
    <div class="brands">
        <img class="brand-img" [routerLink]="['/jeanpaulgaultier']" [src]="jeanPaulBrandImg">
        <img class="brand-img" [routerLink]="['/dior']" [src]="diorBrandImg">
        <img class="brand-img" [src]="lancomeBrandImg">
    </div>
</div>
<div class="fragrance-filter-container">
    <mat-checkbox class="example-margin" [(ngModel)]="fragranceService.isAllChecked"
        (change)="fragranceService.onCheckboxChange('isAllChecked')"
        [disabled]="fragranceService.isAllChecked === true">Mindet
        mutat</mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]="fragranceService.isDiorChecked"
        (change)="fragranceService.onCheckboxChange('isDiorChecked')">Dior</mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]="fragranceService.isLancomeChecked"
        (change)="fragranceService.onCheckboxChange('isLancomeChecked')">Lancome</mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]="fragranceService.isJPGChecked"
        (change)="fragranceService.onCheckboxChange('isJPGChecked')">Jean
        Paul Gaultier</mat-checkbox>

</div>
<div class="product-card-container" *ngIf="fragranceService.isAllChecked === true">
    <div class="product-card" *ngFor="let item of fragranceService.fragrances$ | async"
        (click)="fragranceService.openModal(item)" (mouseover)="fragranceService.mouseOver(item)"
        (mouseleave)="fragranceService.mouseLeave(item)">
        <div class="product-card-head"> {{item.brand}} <p class="brand-name">{{item.brandName}}</p>
            <p class="scent">{{item.scent}}</p>
        </div>
        <div class="main-image-container">
            <img class="main-image" [src]="item.imagePath">
        </div>
        <div class="product-card-price">{{ item.type[0].price }} <p class="tol">Ft-tól</p>
        </div>
    </div>
</div>
<app-dior-fragrances></app-dior-fragrances>
<app-jpg-fragrances></app-jpg-fragrances>
<app-lancome-fragrances></app-lancome-fragrances>

<app-modal [product]="fragranceService.selectedProduct" (closeModalEvent)="fragranceService.closeModal()"
    *ngIf="fragranceService.isModalOpen"></app-modal>