.brands-container {
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;

    .brand-img {
        max-width: 150px;
        max-height: 150px;
        width: auto;
        height: auto;
        aspect-ratio: 3/2;
        object-fit: contain;
        cursor: pointer;
    }
}

.divA {
    display: flex;
    color: #333;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    margin: 1.25rem;
    box-shadow: 0 .25rem .5rem #000000;

}


/* Product-card in style-helper/product-style.scss */