mat-toolbar {
    justify-content: space-between;
    margin: 0px;
    background-color: #092c3d;
    border-radius: 0px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.39);

}

.conent {
    padding: 32px;
}

.profile-image-toolbar {
    border-radius: 100%;
    margin-right: 8px;
    margin-top: 10px;
}