<h1>sadas</h1>
<div class="product-card-container">
    <!-- Itt vannak a product-card elemek -->
    <div class="product-card" *ngFor="let nikeAzur of nikeAzur">
        <div class="product-card-head">{{nikeAzur.description}}</div>
        <img class="shirt" [src]="nikeAzur.imagePath">
        <div class="product-card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias distinctio animi repellat eaque
            consequuntur,
            <div class="product-card-price">
                <my-button [currentPrice]="nikeAzur.price" (click)="addToCart(nikeAzur)"
                    class="add-to-cart"></my-button>
            </div>
        </div>
    </div>
</div>