<h1>sadas</h1>
<div class="product-card-container">
    <!-- Itt vannak a product-card elemek -->
    <div class="product-card" *ngFor="let nikeAzur of nikeAzur">
        <div class="product-card-head">{{nikeAzur.description}}</div>
        <img class="shirt">
        <div class="product-card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias distinctio animi repellat eaque
            consequuntur,
            <div (click)="addToCart(nikeAzur)" class="add-to-cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <div class="product-card-price">{{nikeAzur.price}}</div>
        </div>
    </div>
</div>