<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''" [ngClass]="closed ? 'sidenav-closed-mobile': ''"
    @fadeInOut>
    <!--*ngIf="closed === false"-->
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">></button>
        <div class="logo-text" @fadeInOut *ngIf="collapsed">Astra</div>
        <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>



    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a href="" class="sidenav-nav-link" [routerLink]="[data.routerLink]" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    {{data.label}}
                </span>
                <mat-icon matBadge="{{ data.badge }}" class="cart-badge" matBadgeColor="warn"
                    [matBadgeHidden]="!data.badge" matBadgeOverlap="false">
                </mat-icon>
            </a>
        </li>
        <div class="sidenav-link-close fal fa-times close-icon" @fadeInOut
            *ngIf="collapsed===false && screenwidth < 969" (click)="
            toggleClose()"></div>
    </ul>
</div>
<i class="sidenav-link-open fa fa-angle-double-right" *ngIf="closed===true && screenwidth < 969" (click)="
toggleClose()"></i>