@use 'node_modules/@ngneat/hot-toast/src/styles/styles.scss';
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;

}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;

    .card-head {
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #edf1f7;
        font-size: 1rem;
        font-weight: 600;
    }

    .card-body {
        padding: 1rem 1.5rem;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #eceff1 !important;
}

.mat-mdc-slide-toggle.mat-accent {
    --mdc-switch-selected-focus-state-layer-color: #092c3d;
    --mdc-switch-selected-handle-color: #092c3d;
    --mdc-switch-selected-hover-state-layer-color: #092c3d;
    --mdc-switch-selected-pressed-state-layer-color: #092c3d;
    --mdc-switch-selected-focus-handle-color: #092c3d;
    --mdc-switch-selected-hover-handle-color: #092c3d;
    --mdc-switch-selected-pressed-handle-color: #092c3d;
    --mdc-switch-selected-focus-track-color: #092c3d;
    --mdc-switch-selected-hover-track-color: #092c3d;
    --mdc-switch-selected-pressed-track-color: #092c3d;
    --mdc-switch-selected-track-color: #092c3d;
}

.form-container {
    display: block;
    max-width: 600px;
    margin: auto;

    background: #eceff1;
    padding: 48px;
    border-radius: 16px;

    mat-form-field {
        width: 100%;
    }
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #eceff1;
}


.center {
    display: flex;
    justify-content: center;
}

.margin-top {
    margin-top: 16px;
}

.text-center {
    text-align: center;
}