.product-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .product-card {
        cursor: pointer;
        display: flex;
        color: #333;
        flex-direction: column;
        border-radius: .5rem;
        background-color: #fff;
        margin: 1.25rem;
        box-shadow: 0 .25rem .5rem #000000;

        /* 3 kártya egy sorban */
        min-width: 320px;
        margin: 10px;
        overflow: hidden;


        .product-card-head {
            padding: 10px 0 5px 15px;
            border-bottom: 2px solid #edf1f7;
            font-size: 18px;
            font-weight: 500;

            .brand-name {
                font-size: 16px;
                font-weight: 300;
            }

            .scent {
                margin: -10px 0 -5px 0;
                font-size: 14px;
            }
        }

        .product-card-body {
            padding: 1rem 1.5rem;
            font-weight: 300;
            border-bottom: 1px solid #edf1f7;

        }

        .main-image-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .main-image {
                max-width: 250px;
                max-height: 250px;
                width: auto;
                height: auto;
            }
        }

        .scent {
            font-weight: 100;
            font-size: 15px;
        }

        // background-color: #f6f9fc;

        .product-card-price {
            display: flex;
            align-items: center;
            padding: 25px 0 0 15px;
            font-weight: 400;
            font-size: 22px;
            background-color: #edf1f7;


            .tol {
                font-size: 15px;
                font-weight: 100;
                padding: 15px 0 0 5px;

            }

            .add-to-cart {
                font-size: 15px;
                padding: 10px;
                margin-left: auto;
                margin-bottom: 5px;
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    .product-card-container {
        .product-card {
            width: calc(25% - 20px);
        }
    }
}

@media screen and (max-width: 550px) {
    .product-card-container {

        .product-card {
            width: calc(100% - 10px);
            min-width: 150px;
            margin: 5px;

            .product-card-head {
                padding: 10px 0 5px 15px;
                font-size: 16px;
                font-weight: 500;

                .brand-name {
                    font-size: 14px;
                    font-weight: 300;
                }

                .scent {
                    margin: -10px 0 -5px 0;
                    font-size: 12px;
                }
            }

            .product-card-body {
                padding: 1rem 1.5rem;
                font-weight: 300;
            }

            .main-image-container {
                display: flex;
                justify-content: center;
                align-items: center;

                .main-image {
                    max-width: 180px;
                    max-height: 180px;
                }
            }

            .scent {
                font-weight: 100;
                font-size: 15px;
            }

            .product-card-price {
                display: flex;
                align-items: center;
                padding: 25px 0 0 15px;
                font-size: 22px;

                .tol {
                    font-size: 15px;
                    padding: 15px 0 0 5px;

                }
            }
        }
    }
}