<div class="form-container mat-elevation-z5">
  <h1>Új fiók létrehozása!</h1>
  <form [formGroup]="signUpForm" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>Vezetéknév</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error *ngIf="name?.errors?.['required']">
        Adja meg a vezetéknevét!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Keresztnév</mat-label>
      <input matInput formControlName="lastName" />
      <mat-error *ngIf="name?.errors?.['required']">
        Adja meg a keresztnevét!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>E-mail cím</mat-label>
      <input matInput formControlName="email" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['required']">
        Adja meg az E-mail címét!
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']">
        Kérem, valódi E-mail címet használjon!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Telefonszám</mat-label>
      <input type="number" matInput formControlName="phone" />
      <mat-error *ngIf="name?.errors?.['required']">
        Adja meg a telefonszámát!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Szállítási cím</mat-label>
      <input matInput formControlName="address" />
      <mat-error *ngIf="name?.errors?.['required']">
        Adja meg a Szállítási címét!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Jelszó" formControlName="password" />
      <mat-error *ngIf="password?.errors?.['required']">
        Adjon meg egy jelszót!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Jelszó újra" formControlName="confirmPassword" />
      <mat-error *ngIf="confirmPassword?.errors?.['required']">
        Adja meg mégegyszer!
      </mat-error>
    </mat-form-field>

    <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
      A jelszónak egyeznie kell!
    </mat-error>
    <div class="center margin-top">
      <button type="submit" mat-raised-button color="primary">Regisztráció!</button>
    </div>
  </form>
</div>