<div class="form-container">
  <p class="title">Hozza létre fiókját!</p>
  <form class="reg-form" [formGroup]="signUpForm" (ngSubmit)="submit()">
    <div class="row">
      <mat-form-field>
        <mat-label>Vezetéknév</mat-label>
        <input matInput formControlName="lastName" />
        <mat-error *ngIf="lastName?.errors?.['required']">
          Adja meg a vezetéknevét!
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Keresztnév</mat-label>
        <input matInput formControlName="firstName" />
        <mat-error *ngIf="firstName?.errors?.['required']">
          Adja meg a Keresztnevét!
        </mat-error>
      </mat-form-field>

    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>E-mail cím</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="email?.errors?.['email']">
          Kérem, valódi E-mail címet használjon!
        </mat-error>
        <mat-error *ngIf="email?.errors?.['required']">
          Adja meg az E-mail címét!
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Telefonszám</mat-label>
        <input type="number" matInput formControlName="phone" />
        <mat-error *ngIf="phone?.errors?.['required']">
          Adja meg a telefonszámát!
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Szállítási cím</mat-label>
      <input matInput formControlName="address" />
      <mat-error *ngIf="address?.errors?.['required']">
        Adja meg a Szállítási címét!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Jelszó </mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <div class="pw-hide" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon> {{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
      </div>
      <mat-error *ngIf="password?.errors?.['required']">
        Adjon meg egy erős jelszót!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Jelszó újra</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
      <mat-error *ngIf="confirmPassword?.errors?.['required']">
        Adja meg mégegyszer!
      </mat-error>
    </mat-form-field>
    <mat-error class="pw-must-match" *ngIf="signUpForm.errors?.['passwordsDontMatch']">
      A jelszónak egyeznie kell!
    </mat-error>
    <mat-checkbox (click)="termsCheck($event)">Elfogadom az <div class="terms" routerLink="/user/login">ÁSZF
      </div>-et
    </mat-checkbox>
    <div class="login-container">Már rendelkezik fiókkal? <div class="login" routerLink="/user/login/">Jelentkezzen be!
      </div>
    </div>
    <div class="center margin-top">
      <button type="submit" class="form-btn" [disabled]="termsChecked == false">Regisztráció!</button>
    </div>
  </form>
</div>