<div class="form-container">

  <p class="title">Hozza létre fiókját!</p>
  <form class="reg-form" [formGroup]="signUpForm" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>Vezetéknév</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Keresztnév</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>E-mail cím</mat-label>
      <input matInput formControlName="email" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['email']">
        Kérem, valódi E-mail címet használjon!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Telefonszám</mat-label>
      <input type="number" matInput formControlName="phone" />

    </mat-form-field>

    <mat-form-field>
      <mat-label>Szállítási cím</mat-label>
      <input matInput formControlName="address" />
      <mat-error *ngIf="name?.errors?.['required']">
        Adja meg a Szállítási címét!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Jelszó</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="password?.errors?.['required']">
        Adjon meg egy jelszót!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Jelszó újra</mat-label>
      <input matInput type="password" formControlName="confirmPassword" />
      <mat-error *ngIf="confirmPassword?.errors?.['required']">
        Adja meg mégegyszer!
      </mat-error>
    </mat-form-field>

    <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
      A jelszónak egyeznie kell!
    </mat-error>
    <button type="submit" class="form-btn">Regisztráció!</button>
  </form>
</div>