<div class="form-container mat-elevation-z5">
    <h1>Bejelentkezés</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <mat-form-field>
            <mat-label>E-mail cím</mat-label>
            <input matInput formControlName="email"/>
            <mat-error *ngIf="email?.errors?.['required']">
                E-mail szükséges
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Jelszó</mat-label>
            <input matInput formControlName="password" type="password"/>
            <mat-error *ngIf="email?.errors?.['email']">
                Jelszó szükséges
            </mat-error>
        </mat-form-field>
        <div class="center margin-top">
            <button mat-raised-button color="primary" type="submit">
                Bejelentkezés
            </button>
        </div>
        <span class="center margin-top">Új az oldalunkon? <a class="sign-up-link" routerLink="/user/sign-up">Regisztráljon!</a></span>
    </form>
</div>